@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #2F27CE;
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue";
    width: 100vw;
    height: 50vw;
}

.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;

}
.message {
    margin: 1em 0 2em;
    text-align: center;
    font-size: 5em;
}
.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 200px;
}
.computer img, .player img {
    width: 75%;
}
.shakeComputer {
    animation: shakeComputer 0.8s linear;
}
.shakePlayer {
    animation: shakePlayer 0.8s linear;
}
.shakeComputer {
    animation: shakeComputer 0.8s linear;
}
.shakePlayer {
    animation: shakePlayer 0.8s linear;
}
.points {
    justify-content: center;
    background: #DEDCFF;
    color: #2F27CE;
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
    border:#DEDCFF 1px solid;
    padding: 1em 2em;
    border-radius: 7px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;

}
.computerPoints {
    margin-left: 2em;
}
.playerPoints {
    margin-right: 3em;
}
.options {
    margin-top: 18em;
    display: flex;
    justify-content: space-around;
}
.options button {
    background: none;
    color: white;
    font-family: "Bebas Neue";
    font-size: larger;
    border: 1px solid white;
    padding: 1em 2em;
    border-radius: 7px;
    width: 200px;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    transition: 0.2s all linear;
}
.options button:hover {
    background-color: #DEDCFF;
    color: #2F27CE;
    border: 1px solid #2F27CE;
}
@keyframes shakeComputer {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}
@keyframes shakePlayer {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}